---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <title>self-narrative exercise</title>
    {% include head.html %}
</head>
<body>

<main class="container">
    {% include homenav.html %}
    <div class="row">
        <div class="one-third column">
            <img src="./images/goodpicture.jpeg" class="u-max-full-width">
            <p style="color:lightgrey">shoutout to my brother Viraj and my neighbor Em for this goodpicture.jpg</p>
        </div>
        <div class="two-thirds column" >
        <p>Samir Ghosh is a coder and polymath who serves as Assistant Director for the <a href="https://polymathic.usc.edu/ahmanson-lab">Ahmanson Lab at USC</a>. Over there, they manage a makerspace, teach workshops, and produce impactful VR, AR, and hardware projects with professors and students from many fields. Some of these projects have received contributions from organizations such as the Vatican, the California Science Center, and the LA Times.</p>
        <p>Previously, they worked as a software assistant to the fashion designer <a href="http://behnazfarahi.com/">Behnaz Farahi</a>, whose internationally exhibited work features advanced manufacturing techniques and custom wearable technology. At Intel, they worked with supercomputers and server farms, creating cybersecurity and management tools that have scaled to hundreds of thousands of servers in multiple locations.</p>
        <p>Currently they are working on projects in linguistics, neuroscience, and media arts. Notably, they are contributing machine learning and data processing for a research project with an ophthalmologist that analyzes a patient's retinal health data to detect neurodegenerative disease.</p>
        <p>For their undergraduate education, they went to USC, where they received bachelors degrees in computational linguistics and cognitive science. During their time there, they lived at an environmentally friendly co-op, and grew a technology+arts organization to over a hundred members.</p>
        <p>On some evenings, they teach guitar and tutor kids in their community, fundraising for causes that they care about. Their hobbies include creative code, open-water swimming, yoga, and attending to his <a href="cats.html">two adopted cats.</a></p>
<!--        boom fourth wall-->
            <p>They think writing in third person is very awkward.</p>
    </div>

</div>
<div class="row">
    <button id="academicEmail" onclick="document.querySelector('#academicEmail').textContent ='samirgho@usc.edu'">
            Email (academic)
        </button>
        <button id="personalEmail" onclick="document.querySelector('#personalEmail').textContent ='mail@samir.tech'">
            Email (other)
        </button>
        <a href="./Samir-Ghosh-resume.pdf">
            <button>
                Resume
            </button>
        </a>
    <a href="https://github.com/gurumatcha">
        <button>
            Github
        </button>
    </a>

    </div>
</main>
{% include footer.html %}
</body>
</html>
