---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <title>self-narrative exercise</title>
    {% include head.html %}
</head>
<body>

<main class="container">
    {% include homenav.html %}
    <div class="row">
        <div class="one-third column">
            <img src="./images/goodpicture.jpeg" class="u-max-full-width">
        </div>
        <div class="two-thirds column" >
        <p>Samir Ghosh is a coder and polymath who serves as Assistant Director for the <a href="https://polymathic.usc.edu/ahmanson-lab">Ahmanson Lab at USC</a>. Over there, he manages a makerspace, teaches workshops, and produces impactful VR, AR, and hardware projects with professors and students from many fields. Some of these projects have received contributions from organizations such as the Vatican, the California Science Center, and the LA Times.</p>
        <p>Previously, he worked as a software assistant to the fashion designer <a href="http://behnazfarahi.com/">Behnaz Farahi</a>, whose internationally exhibited work features advanced manufacturing techniques and custom wearable technology. At Intel, he worked with supercomputers and server farms, creating cybersecurity and management tools that have scaled to hundreds of thousands of servers in multiple locations.</p>
        <p>Currently he is contributing machine learning and data processing for a research project with an ophthalmologist that analyzes a patient's retinal health data to detect neurodegenerative disease.</p>
        <p>For his undergraduate education, he went to USC, where he received bachelors degrees in computational linguistics and cognitive science. During his time there, he lived at an environmentally friendly co-op, and grew a technology+arts organization to over a hundred members.</p>
        <p>He teaches guitar and tutors students impacted by educational changes due to COVID-19, donating the proceeds to causes he cares about. His hobbies include open-water swimming, yoga, streaming, and attending to his <a href="cats.html">two adopted cats.</a></p>
        <p>He thinks writing about himself in third person is very awkward.</p>

    </div>

</div>
<div class="row">
    <button id="academicEmail" onclick="document.querySelector('#academicEmail').textContent ='samirgho@usc.edu'">
            Email (academic)
        </button>
        <button id="personalEmail" onclick="document.querySelector('#personalEmail').textContent ='mail@samir.tech'">
            Email (other)
        </button>
        <a href="./Samir-Ghosh-resume.pdf">
            <button>
                Resume
            </button>
        </a>

    </div>
</main>
{% include footer.html %}
</body>
</html>
