---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <title>🐈kittehs🐈</title>
    {% include head.html %}
</head>
<body>

<main class="container">
    {% include homenav.html %}
    <div class="row">
        <div class="u-full-width">
            <p>A couple years ago, I decided to get some animal companions. I visited <a href="http://www.foundanimals.org">Michelson Found Animals</a> in LA, and found these two furry creatures cuddling each other. I couldn't just take one of them, so the adoption people gave them both to me for the fees of one. They each have suffered some neglect and abuse in their past, but after a little bit of warmth and nurturing, they turned into cuddly goofballs. If you are considering adopting a furry friend, please consider going to a shelter or adoption agency!</p>
        </div>

    </div>
    <section class="row">
        <div class="one-third column" style="margin-top: 11.11%">
            <img src="./images/cats/scout.jpeg" class="u-max-full-width">
        </div>
        <div class="one-half column" style="margin-top: 11.11%">
            <h3>Scout</h3>
            <p>age: 2.5 years</p>
            <p>hobbies: climbing to high places, bird watching, cuddling Captain</p>
            <p>favorite toy: fake-mouse</p>
            <p>suspicious of: tea kettle, my neighbor Dave</p>

        </div>

    </section>
    <section class="row">
        <div class="one-third column" style="margin-top: 11.11%">
            <img src="./images/cats/captain.jpeg" class="u-max-full-width">
        </div>
        <div class="one-half column" style="margin-top: 11.11%">
            <h3>Captain</h3>
            <p>age: 3 years</p>
            <p>hobbies: following humans, crashing Zoom meetings, cuddling Scout</p>
            <p>favorite toy: ping pong ball</p>
            <p>suspicious of: cacti🌵, amazon packages</p>
        </div>
    </section>
    <section class="row" style="padding-top:5em;">
        <h3>more pictures</h3>
            <img src="./images/cats/cuddle.jpeg" class="one-half u-max-full-width">
        <img src="./images/cats/belly.jpeg" class="one-half u-max-full-width">
        <img src="./images/cats/laptop.jpeg" class="one-half u-max-full-width">
        <img src="./images/cats/burrito.jpeg" class="one-half u-max-full-width">
        <img src="./images/cats/snuggle.jpeg" class="one-half u-max-full-width">
        <img src="./images/cats/basket.jpeg" class="one-half u-max-full-width">


    </section>
</main>
</body>
</html>
