---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>🍵samir is on the internet</title>
    {% include head.html %}
    <script src="./js/p5.min.js" defer></script>
    <script src="./sketches/glacier.js" defer></script>
  </head>
  <body>
  <div id="sketch-container"style="z-index:-9999;position:absolute;width:100vw;height:100vh;"></div>
  <main class="container">
    <nav class="row">
      <a href="./about.html"
      ><button>
        About me + Contact
      </button>
      </a>
      <a href="#projects"
      ><button>
        Work/Portfolio
      </button>
      </a>
      <a href="./cats.html"
      ><button>
        Cat Photos
      </button>
      </a>
    </nav>
    <section class="row" style="padding-bottom: 20vh">
      <div class="two-thirds column" style="margin-top: 11.11%">
<!--        is this too personable? all of my peers seem to present themselves as so serious and cool -->
<!--        i'll just keep being me, it's gotten me this far, and it feels honest -->
        <h4>You have reached Samir Ghosh's website</h4>
        <p>
          Hope you are well in these times. 🍵
        </p>
        <p>
          Currently working at the Ahmanson Lab at USC, teaching workshops,
          supporting research and curricula development, and helping the community
          with our VR and makerspace resources. It's a zoom era but we're getting creative.
        </p>
        <p>
          I host open lab hours and I'm always there on Discord, so feel free to reach out to me if you'd like to chat!
        </p>
      </div>
    </section>
    <section class="row section">
      <div id="projects" class="eleven columns">
        <h4>Some of my favorite projects</h4>
      </div>
    </section>
    {% for post in site.posts reversed%}
    {% if post.featured %}
    <section class="row feature" style="padding-top: 3em;">
      <div class="four columns">
        <img src="{{ post.thumbnail }}" class="u-max-full-width">
      </div>
      <div class="eight columns" >
        <h3>{{ post.title }}</h3>
        <p>{{post.desc}}</p>
        <a href="{{ post.url }}">read more >></a>

      </div>
    </section>
    {% endif %}
    {% endfor %}
  </main>
{% include footer.html %}
  </body>
</html>
