---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <title>🍵samir is on the internet</title>
    {% include head.html %}
</head>
<body>

<main class="container">
    {% include homenav.html %}
    <section class="row" style="padding-bottom: 20vh">
        <div class="two-thirds column" style="margin-top: 11.11%">
            <h4>google analytics is watching you and taking your data</h4>
            <h6>sorry</h6>
<!--            not an admission of guilt though-->
            <p>the alternative was to ask everyone who visited my website to email me with how many milliseconds they spent on each page, but no one got back to me</p>
        </div>
    </section>
</main>
</body>
</html>
