@keyframes A {
  from {
    opacity: 1;
  }
  to {
    opacity: .9;
  }
}
@keyframes B {
  from {
    opacity: 1;
  }
  to {
    opacity: .8;
  }
}
@keyframes C{
  from {
    opacity: 1;
  }
  to {
    opacity: .7;
  }
}
@keyframes D {
  from {
    opacity: 1;
  }
  to {
    opacity: .58;
  }
}
#a {
  animation: A 1.314s ease-in .6666s forwards;
}
#b {
  animation: B 1.314s ease-in .6666s forwards;
}
#c {
  animation: C 1.314s ease-in .6666s forwards; 
}
#d {
  animation: D 1.314s ease-in .6666s forwards;
}

