@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  color-scheme: light dark;
  /* fg = frosted glass */
  /* cs = cardstock */
  /* bt = body text */
  /* nh = not heading */
  /* Colors, borders, shadows */

  /* Potential ideas for light */
  /* #fff7f0 */
  /* --dark-scene-background: rgb(30, 30, 30); */
  --dark-scene-background: aliceblue;

  --light-scene-background: aliceblue;
  --dark-border-col: rgb(67, 67, 67);
  --light-border-col: black;
  --dark-cs-border: 1px solid rgb(74, 74, 74);
  --light-cs-border: 1px solid white;
  --dark-cs-bg-col: aliceblue;
  --light-cs-bg-col: aliceblue;
  --time-col: grey;
  --button-border: 1px black solid;
  --dark-text-col: darkslategrey;
  --light-text-col: darkslategrey;
  --dark-button-hover: rgba(67, 67, 67, 20);
  --light-button-hover: lightskyblue;
  --light-text-deemphasis-col: olive;
  --dark-text-deemphasis-col: rgb(125, 125, 125);
  --dark-link-col: rgb(125, 148, 160);
  --dark-link-hover-col: rgb(149, 169, 179);
  --light-link-col: aliceblue;
  --link-link-hover-col: blue;

  border-color: light-dark(var(--light-border-col), var(--dark-border-col));

  /* Indents and Widths */
  --squish-stop: 0.35em;
  --one-stop: 0.7em;
  --two-stop: 1.4em;
  --three-stop: 2.1em;
  --card-min-width: 280px;
  --card-min-height: 420px;
  --section-seperator-width: calc(var(--card-min-width) + var(--two-stop));
}
* {
  font-family: "Nunito Sans", sans-serif;
  color: light-dark(var(--light-text-col), var(--dark-text-col));
}

body {
  background-color: light-dark(
    var(--light-scene-background),
    var(--dark-scene-background)
  );
}
h1,
h2,
h3 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 100;
  color: light-dark(var(--light-text-col), var(--dark-text-col));
}

/* h2,
h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  color: light-dark(var(--light-text-col), var(--dark-text-col));
} */
h1 {
  font-size: 4rem;
  font-weight: 200;
  margin: 0.2rem;
}

p,
ul,
li {
  font-size: 1rem;
  font-weight: 300;
}
ul {
  /* margin-left: var(--one-stop); */
  padding-inline-start: 0%;
}
li {
  /* margin-left: var(--one-stop); */
  margin-bottom: 0.5em;
  /* line-height: 0.95rem; */
}
/* on mobile, h1 is 2em */
@media (max-width: 600px) {
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 0.9em;
  }
}
