@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  color-scheme: light dark;
  /* fg = frosted glass */
  /* cs = cardstock */
  /* bt = body text */
  /* nh = not heading */
  /* Colors, borders, shadows */

  /* Potential ideas for light */
  /* #fff7f0 */
  --dark-scene-background: rgb(30, 30, 30);
  --light-scene-background: rgb(255, 253, 241);
  --dark-border-col: rgb(67, 67, 67);
  --light-border-col: black;
  --dark-cs-border: 1px solid rgb(74, 74, 74);
  --light-cs-border: 1px solid white;
  --dark-cs-bg-col: rgba(38, 38, 38, 0.87);
  --light-cs-bg-col: rgba(255, 253, 241, 0.77);
  --time-col: grey;
  --button-border: 1px black solid;
  --dark-text-col: rgb(203, 203, 203);
  --light-text-col: black;
  --dark-button-hover: rgba(67, 67, 67, 20);
  --light-button-hover: lightskyblue;
  --light-text-deemphasis-col: olive;
  --dark-text-deemphasis-col: rgb(125, 125, 125);
  --dark-link-col: rgb(125, 148, 160);
  --dark-link-hover-col: rgb(149, 169, 179);
  --light-link-col: aliceblue;
  --link-link-hover-col: blue;

  border-color: light-dark(var(--light-border-col), var(--dark-border-col));

  /* Indents and Widths */
  --squish-stop: 0.35em;
  --one-stop: 0.7em;
  --two-stop: 1.4em;
  --three-stop: 2.1em;
  --card-min-width: 280px;
  --section-seperator-width: calc(var(--card-min-width) + var(--two-stop));
}
* {
  font-family: "Inter", sans-serif;
  color: light-dark(var(--light-text-col), var(--dark-text-col));
}

body {
  background-color: light-dark(
    var(--light-scene-background),
    var(--dark-scene-background)
  );
}

h1 {
  font-size: 3em;
  font-weight: 200;
  margin: 0.2em;
}

h2,
h3 {
  font-weight: 200;
}
p {
  font-size: 1em;
  font-weight: 300;
}

/* on mobile, h1 is 2em */
@media (max-width: 600px) {
  h1 {
    font-size: 2.2em;
  }
  p {
    font-size: 0.9em;
  }
}
