/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 780px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  /* font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  /* color: white;  */
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB; }
a:hover {
  color: #0FA0CE; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/**
 * @license
 *
 * Font Family: Satoshi
 * Designed by: Deni Anggara
 * URL: https://www.fontshare.com/fonts/satoshi
 * © 2023 Indian Type Foundry
 *
 * Font Styles:
 * Satoshi Variable(Variable font)
 * Satoshi Variable Italic(Variable font)
 * Satoshi Light
 * Satoshi Light Italic
 * Satoshi Regular
 * Satoshi Italic
 * Satoshi Medium
 * Satoshi Medium Italic
 * Satoshi Bold
 * Satoshi Bold Italic
 * Satoshi Black
 * Satoshi Black Italic
 *
*/


/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 900.0;
*
* available axes:

* 'wght' (range from 300.0 to 900.0)

*/

@font-face {
  font-family: 'Satoshi-Variable';
  src: url(assets/fonts/353a66cdd8922bb63107b51bb4ebc47f.woff2) format('woff2'),
       url(assets/fonts/4db206aaad2132de9db7c2ed26b55b88.woff) format('woff'),
       url(assets/fonts/536fda9b164542087fc736ce08d382d0.ttf) format('truetype');
       font-weight: 300 900;
       font-display: swap;
       font-style: normal;
}


/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 900.0;
*
* available axes:

* 'wght' (range from 300.0 to 900.0)

*/

@font-face {
  font-family: 'Satoshi-VariableItalic';
  src: url(assets/fonts/9d501e440d7109a57c882c57a9285d57.woff2) format('woff2'),
       url(assets/fonts/fe877592580e0a941b9ed0d2995aea8d.woff) format('woff'),
       url(assets/fonts/9519fea9567e2405bc08c2a383630289.ttf) format('truetype');
       font-weight: 300 900;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Satoshi-Light';
  src: url(assets/fonts/df8f06167ee6fd05a1312732d4e9ea50.woff2) format('woff2'),
       url(assets/fonts/67e7fa77f107df3491b6c74c9d09a41e.woff) format('woff'),
       url(assets/fonts/22ef061781b1162ac317c35b1b821110.ttf) format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Satoshi-LightItalic';
  src: url(assets/fonts/540a6dd2e29f70e154776e4d0dfbaa38.woff2) format('woff2'),
       url(assets/fonts/9473bef147f48d191d0d6bfd04f39a14.woff) format('woff'),
       url(assets/fonts/bdeb9dc94481cdcc43dd3e98c9f87bc6.ttf) format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Satoshi-Regular';
  src: url(assets/fonts/9ec05085c4cd2966eba82346dcfd9bea.woff2) format('woff2'),
       url(assets/fonts/ca3da5fd2b609836ef69e0f6e677450c.woff) format('woff'),
       url(assets/fonts/fe762acc7e97cb6128058a93523585f0.ttf) format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Satoshi-Italic';
  src: url(assets/fonts/f4acf4adbba9bcd2c75cc012be3f0e0e.woff2) format('woff2'),
       url(assets/fonts/a7000aa1c017eec578681948611f7460.woff) format('woff'),
       url(assets/fonts/89c785539a22fa0dfa0f5e129c4f5a9b.ttf) format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Satoshi-Medium';
  src: url(assets/fonts/1ffe968245568e8ba1e766cec2c0075d.woff2) format('woff2'),
       url(assets/fonts/2419b46c96ed15331ba205aa3b103eb8.woff) format('woff'),
       url(assets/fonts/759562088ba19068aef82baee40e2ab5.ttf) format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Satoshi-MediumItalic';
  src: url(assets/fonts/6be6d51d5fc7402ee45f6c343e607baa.woff2) format('woff2'),
       url(assets/fonts/cb8316e39642de8a12d54a60366bb476.woff) format('woff'),
       url(assets/fonts/5db9ec801a311bdf187ba0e401b05d12.ttf) format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Satoshi-Bold';
  src: url(assets/fonts/a0e6d25529eab537426cc73a2199dd85.woff2) format('woff2'),
       url(assets/fonts/a875ff682ee232938607cd70a2997cd9.woff) format('woff'),
       url(assets/fonts/137a52d9f47dd71c6247397651ccbf6f.ttf) format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Satoshi-BoldItalic';
  src: url(assets/fonts/99235b175b514139aed0e14900656fcc.woff2) format('woff2'),
       url(assets/fonts/d6da0f2020393863d72091bd133bd446.woff) format('woff'),
       url(assets/fonts/95e24575ceb54c131b6befcb1df1d776.ttf) format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Satoshi-Black';
  src: url(assets/fonts/b5013d854bb5a8e48651144002dcc6a7.woff2) format('woff2'),
       url(assets/fonts/4261d202e1e9410db1bfa7a19ab6c372.woff) format('woff'),
       url(assets/fonts/464354ba5a06467ecac56ec6be8e083b.ttf) format('truetype');
       font-weight: 900;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Satoshi-BlackItalic';
  src: url(assets/fonts/d456cea1fae27f7d469433631ff713b2.woff2) format('woff2'),
       url(assets/fonts/048e5edd452be6c1321441275bb898d0.woff) format('woff'),
       url(assets/fonts/6688ad1e9589e67518294867a239fdae.ttf) format('truetype');
       font-weight: 900;
       font-display: swap;
       font-style: italic;
}


/**
 * @license
 *
 * Font Family: Chillax
 * Designed by: Manushi Parikh
 * URL: https://www.fontshare.com/fonts/chillax
 * © 2023 Indian Type Foundry
 *
 * Font Styles:
 * Chillax Variable(Variable font)
 * Chillax Extralight
 * Chillax Light
 * Chillax Regular
 * Chillax Medium
 * Chillax Semibold
 * Chillax Bold
 *
*/


/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 700.0;
*
* available axes:

* 'wght' (range from 200.0 to 700.0)

*/

@font-face {
  font-family: 'Chillax-Variable';
  src: url(assets/fonts/9cf7581f93eb915d1c88025e9131961c.woff2) format('woff2'),
       url(assets/fonts/3099c20bf00a8648845318258cee0fd2.woff) format('woff'),
       url(assets/fonts/35be36f56031260cf4351816193d520b.ttf) format('truetype');
       font-weight: 200 700;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Chillax-Extralight';
  src: url(assets/fonts/278406f9c9c8fe7d844ddc799e25c29f.woff2) format('woff2'),
       url(assets/fonts/6ef90e26b8015b53dfc5e7c8f4b5a3f5.woff) format('woff'),
       url(assets/fonts/a4056cb2af95b3ceffc136be84f38389.ttf) format('truetype');
       font-weight: 200;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Chillax-Light';
  src: url(assets/fonts/af355b9bf98e3e002af33e36e462f99d.woff2) format('woff2'),
       url(assets/fonts/6a1a75dde2f5a782f2f8a25563e6bdb0.woff) format('woff'),
       url(assets/fonts/f7f01b60a17a04b97f7a47c0224baf36.ttf) format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Chillax-Regular';
  src: url(assets/fonts/ba523d3ce8c8545f9d2053d0a129d8b4.woff2) format('woff2'),
       url(assets/fonts/69ecbaec7d22215aa562f8f803c028ee.woff) format('woff'),
       url(assets/fonts/50d2215815ebd5becebc8cc933f007fa.ttf) format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Chillax-Medium';
  src: url(assets/fonts/0676d0c351cc36f9d624491786f5fdd0.woff2) format('woff2'),
       url(assets/fonts/529ac682ffbed5b0db056ca6cca4d172.woff) format('woff'),
       url(assets/fonts/bd1fdefdb415380f3f52b5a0f8d32955.ttf) format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Chillax-Semibold';
  src: url(assets/fonts/a8a0c9fc2aa3e9bfa853db0d9aa06351.woff2) format('woff2'),
       url(assets/fonts/8bb570e93f1e8cc0c286cdc3ebd124b2.woff) format('woff'),
       url(assets/fonts/852911bb88ac3582fb3d97fc0ddec8fc.ttf) format('truetype');
       font-weight: 600;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Chillax-Bold';
  src: url(assets/fonts/74d1529a0c0254642d50d9314bb27013.woff2) format('woff2'),
       url(assets/fonts/d9d078aa32cadb070c02a24eec19f71f.woff) format('woff'),
       url(assets/fonts/afec4fb98c81e138a906a6505276c2d1.ttf) format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}


*
{
    margin: 0;
    padding: 0;
    font-family: 'Chillax-Light', sans-serif;
    /* color: white; */
    /* font-family: 'Satoshi-Light', sans-serif; */
}

/* input {
    margin-bottom: 0;
} */
html,
body
{
    /* overflow: hidden; */
    /* background-color: black; */
    background-color: beige;
}
h1 {
    font-size: 4em;
    margin-top: 0.2em;
}
p, a {
    font-family: 'Satoshi-Light', sans-serif;
}
math {

    /* padding: 1em; */
}
.webgl
{
    /* position: fixed; */
    /* top: 0;
    left: 0; */
    position: absolute;
    outline: none;
    z-index: 0;
}
.overlay {
    /* padding: 1em;
    margin: 1em; */
    /* bottom: 0;
    left: 0; */
    position: absolute;
    outline: none;
    z-index: 1;
    width: 100vw;
    text-align: center;
    /* height: 100%; */
    /* color: white; */
    /* max-width: fit-content; */
    /* max-height: fit-content; */
    /* background-color: "rgba(0,0,0,0.00001)"; */
    /* border-radius: 1em; */
    /* background: black; */
}

.overlay-text {
    /* background-color: rgba(0,0,0,0.05); */
    background-color: rgba(245,245,220,0.9);

    padding: 1.2em;
    border-radius: 1.2em;
    margin: 1em;


}
/* .overlay > p {
    max-width: 500px;
} */
a.button {
    /* color:white; */
    background-color: rgba(0,0,0,0.2);
    display:block;
}
/* .social-icon {
    width: 1.66em;
    margin: .25em;
    height: 1.66em;
    opacity: 1;
    
  }
  .social-icon:hover {
    opacity: 0.777777;
  }

  main > h1 {
    font-size: 1.2;
    font-weight: 300;
} */
main > p {
    font-size: .8;
    font-weight: 100;
}
.slidecontainer {
    display: flex;
    justify-content: center;
	align-items: flex-start;
    width: 100%;
    /* max-width: fit-content; */
    /* width: inherit; */
    /* height: 4em; */
}
.slidecontainer > p, input, em {
    flex: 0 0 1;
    /* height: 1em; */
    line-height: 1em;
    font-size: 1.5em;
    margin: .2em;
    padding: .2em;
}

/*# sourceMappingURL=main.css.map*/